<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quản lý thực đơn</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body class="app sidebar-mini">
    <!-- Navbar-->
    <header class="app-header"><a class="app-header__logo" href="index.html">Nhà Hàng</a>
      <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
      <!-- Navbar Right Menu-->
      <ul class="app-nav">
        <!-- User Menu-->
        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
          <ul class="dropdown-menu settings-menu dropdown-menu-right">
            <li><a class="dropdown-item" href="page-user.html"><i class="fa fa-cog fa-lg"></i> Cài đặt</a></li>
            <li><a class="dropdown-item" href="page-user.html"><i class="fa fa-user fa-lg"></i> Hồ sơ</a></li>
            <li><a class="dropdown-item" href="page-login.html"><i class="fa fa-sign-out fa-lg"></i> Đăng xuất</a></li>
          </ul>
        </li>
      </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="images/setting.png" alt="User Image">
        <div>
          <p class="app-sidebar__user-name">admin</p>
          <p class="app-sidebar__user-designation">admin@gmail.com</p>
        </div>
      </div>
      <ul class="app-menu">
        <li><a class="app-menu__item " href="index.html"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Trang chủ</span></a></li>
        <li class="treeview"><a class="app-menu__item  " href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">Quản lý nhân viên</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item " href="ql_nhanvien.html"><i class="icon fa fa-circle-o"></i>Thông tin nhân viên</a></li>
            <li><a class="treeview-item " href="add_nhanvien.html"><i class="icon fa fa-circle-o"></i> Thêm nhân viên</a></li>
          </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Quản lý bàn</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="ql_ban.html"><i class="icon fa fa-circle-o"></i> Danh sách bàn</a></li>
          </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Quản lý phiếu giảm giá</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
              <li><a class="treeview-item" href="ql_phieugiamgia.html"><i class="icon fa fa-circle-o"></i> Danh sách phiếu</a></li>
            </ul>
          </li>
          <li class="treeview"><a class="app-menu__item " href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Quản lý lịch làm việc</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
              <li><a class="treeview-item " href="ql_lich_lam_viec.html"><i class="icon fa fa-circle-o"></i> Lịch</a></li>
            </ul>
          </li>
        <li class="treeview"><a class="app-menu__item " href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">Thực đơn và giá cả</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item " href="thucdon_monan.html"><i class="icon fa fa-circle-o"></i> Danh sách thực đơn & món ăn</a></li>
          </ul>
        </li>
        <li><a class="app-menu__item" href="ql_hoadon.html"><i class="app-menu__icon fa fa-file-code-o"></i><span class="app-menu__label">Hóa đơn và thanh toán</span></a></li>
        <li><a class="app-menu__item active" href="ql_kho.html"><i class="app-menu__icon fa fa fa-edit"></i><span class="app-menu__label">Quản lý kho</span></a></li>
        <li><a class="app-menu__item" href="baocao_thongke.html"><i class="app-menu__icon fa fa-pie-chart"></i><span class="app-menu__label">Báo cáo thông kê</span></a></li>
      </ul>
    </aside>
    <main class="app-content">
      <div class="app-title">
        <div class="div">
          <h1><i class="fa fa-laptop"></i>  Danh sách nguyên liệu trong kho</h1>
          <p>   Nguyên liệu</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#"> Nguyên liệu</a></li>
        </ul>
      </div>
      <button type="button" class="btn btn-success" id="addTable">Thêm nguyên liệu</button>
      <br /><br />
      <!-- box-->
      <div class="content-wrapper">
        <section class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="box">
                <div class="box-body">
                  <table class="table table-bordered table-hover table-striped" id="tableList">
                    <thead>
                    <tr>
                      <th>Hình</th>
                      <th>Tên</th>
                      <th>Số Lượng</th>
                      <th>ghi chú</th>
                      <th>tuỳ chọn</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><img src="./images/hamberger.png" alt="" width="50" height="50"></td>
                        <td>rau</td>
                        <td>10</td>
                        <td>duc deptrai vcc</td>
                        <td>
                          <button class="btn btn-info edit-btn"><i class="fa fa-edit"></i></button>
                          <button class="btn btn-danger delete-btn"><i class="fa fa-trash"></i></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- col-md-12 -->
          </div>
          <!-- /.row -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <script>
          const deleteButtons = document.querySelectorAll('.delete-btn');
          deleteButtons.forEach(btn => {
  btn.addEventListener('click', () => {
    const row = btn.parentNode.parentNode; // lấy ra hàng chứa button đang được click
    row.parentNode.removeChild(row); // xoá hàng đó khỏi bảng
  });
});
      </script>
<!-- Thêm cửa sổ modal vào trong body -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editModalLabel">Sửa thông tin</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="product_image">Hình ảnh:</label>
            <div class="kv-avatar">
              <div class="file-loading">
                <input id="product_image" name="Hình ảnh" type="file">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="product_name">Tên:</label>
            <input type="text" class="form-control" name="product_name" required>
          </div>
          <div class="form-group">
            <label for="price">số lượng:</label>
            <input type="text" class="form-control" name="price"required>
          </div>
          <div class="form-group">
            <label for="soluong">ghi chú:</label>
            <input type="text" class="form-control" name="soluong"required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" id="saveChanges">Lưu thay đổi</button>
      </div>
    </div>
  </div>
</div>
<!-- Định nghĩa cửa sổ modal -->
<div class="modal fade" id="addTableModal" tabindex="-1" aria-labelledby="addTableModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTableModalLabel">Thêm nguyên liệu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addTableForm">
          >
          <div class="form-group">
            <label for="product_image">Hình ảnh:</label>
            <div class="kv-avatar">
              <div class="file-loading">
                <input id="product_image" name="Hình ảnh" type="file">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="product_name">Tên:</label>
            <input type="text" class="form-control" name="product_name" required>
          </div>
          <div class="form-group">
            <label for="soluong">số lượng:</label>
            <input type="text" class="form-control" name="price"required>
          </div>
          <div class="form-group">
            <label for="ghichu">ghi chú:</label>
            <input type="text" class="form-control" name="soluong"required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-primary" form="addTableForm">Thêm</button>
      </div>
    </div>
  </div>
</div>
<script>
  // Lấy thẻ button "Thêm nguyen lieu"
const addTableBtn = document.getElementById('addTable');

// Lấy thẻ modal
const addTableModal = new bootstrap.Modal(document.getElementById('addTableModal'), {
  keyboard: false
});

// Lấy thẻ table và tbody để thêm dữ liệu mới vào table
const table = document.getElementById('tableList');
const tbody = table.getElementsByTagName('tbody')[0];

// Lấy thẻ button đóng của modal
const closeModalBtn = addTableModal._element.querySelector('[data-bs-dismiss="modal"]');

// Xử lý sự kiện click vào button "Thêm nguyen lieu"
addTableBtn.addEventListener('click', () => {
  // Hiển thị modal
  addTableModal.show();
});
const addTableForm = document.getElementById('addTableForm');
const tableListBody = document.getElementById('tableList').querySelector('tbody');

addTableForm.addEventListener('submit', (event) => {
  event.preventDefault(); // tránh sự kiện mặc định của form

  // Lấy giá trị từ các input field trong form
  const productImage = addTableForm.elements['Hình ảnh'].value;
  const productName = addTableForm.elements['product_name'].value;
  const productQuantity = addTableForm.elements['price'].value;
  const productNote = addTableForm.elements['soluong'].value;

  // Thêm một row mới vào danh sách
  const newRow = tableListBody.insertRow();
  newRow.innerHTML = `
    <td><img src="${productImage}" alt="" width="50" height="50"></td>
    <td>${productName}</td>
    <td>${productQuantity}</td>
    <td>${productNote}</td>
    <td>
      <button class="btn btn-info edit-btn"><i class="fa fa-edit"></i></button>
      <button class="btn btn-danger delete-btn"><i class="fa fa-trash"></i></button>
    </td>
  `;

  // Đóng modal
  addTableModal.hide();
});
(newRow);

// Xử lý sự kiện click vào button đóng của modal
closeModalBtn.addEventListener('click', () => {
  // Đóng modal
  addTableModal.hide();
});
</script>
<script>
  $(document).ready(function(){
    // Thêm sự kiện click cho các nút "edit-btn"
    $(".edit-btn").click(function(){
      // Lấy thông tin về vị trí, số người và trạng thái của hàng
      var product_image = $(this).closest("tr").find("td:eq(0)").text();
      var product_name = $(this).closest("tr").find("td:eq(1)").text();
      var price = $(this).closest("tr").find("td:eq(2)").text();
      var soluong = $(this).closest("tr").find("td:eq(3)").text();


      // Hiển thị cửa sổ modal
      $('#editModal').modal('show');

      // Điền thông tin về hàng vào trong cửa sổ modal
      $("#editModal").find("input[name='product_image']").val(product_image);
      $("#editModal").find("input[name='product_name']").val(product_name);
      $("#editModal").find("input[name='price']").val(price);
      $("#editModal").find("input[name='soluong']").val(soluong);
    });
  });
</script>
<script>
// Add click event for "Save changes" button
$("#saveChanges").click(function() {
  // Get updated information from form
  var updatedProductImage = $("#product_image").val();
  var updatedProductName = $("input[name='product_name']").val();
  var updatedPrice = $("input[name='price']").val();
  var updatedSoluong = $("input[name='soluong']").val();
  var updatedTime = $("input[name='time']").val();
  var updatedStatus = $("input[name='status']:checked").val();

  // Update information in table
  var currentRow = $(".edit-btn").closest("tr");
  currentRow.find("td:eq(0) img").attr("src", updatedProductImage);
  currentRow.find("td:eq(1)").text(updatedProductName);
  currentRow.find("td:eq(2)").text(updatedPrice);
  currentRow.find("td:eq(3)").text(updatedSoluong);
  currentRow.find("td:eq(4)").text(updatedTime);
  currentRow.find("td:eq(5)").text(updatedStatus);

  // Hide modal
  $("#editModal").modal("hide");
});


</script>
            
    </main>
    <!-- Essential javascripts for application to work-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="js/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
    <script>
      $('.bs-component [data-toggle="popover"]').popover();
      $('.bs-component [data-toggle="tooltip"]').tooltip();
    </script>
    <!-- Google analytics script-->
    <script type="text/javascript">
      if(document.location.hostname == 'pratikborsadiya.in') {
      	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      	ga('create', 'UA-72504830-1', 'auto');
      	ga('send', 'pageview');
      }
    </script>
  </body>
</html>