<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quản lý nhân viên</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body class="app sidebar-mini">
    <!-- Navbar-->
    <header class="app-header"><a class="app-header__logo" href="index.html">Nhà Hàng</a>
      <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
      <!-- Navbar Right Menu-->
      <ul class="app-nav">
        <!-- User Menu-->
        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
          <ul class="dropdown-menu settings-menu dropdown-menu-right">
            <li><a class="dropdown-item" href="ho_so.html"><i class="fa fa-cog fa-lg"></i> Cài đặt</a></li>
            <li><a class="dropdown-item" href="ho_so.html"><i class="fa fa-user fa-lg"></i> Hồ sơ</a></li>
            <li><a class="dropdown-item" href="page-login.html"><i class="fa fa-sign-out fa-lg"></i> Đăng xuất</a></li>
          </ul>
        </li>
      </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="images/setting.png" alt="User Image">
        <div>
          <p class="app-sidebar__user-name">admin</p>
          <p class="app-sidebar__user-designation">admin@gmail.com</p>
        </div>
      </div>
      <ul class="app-menu">
        <li><a class="app-menu__item " href="index.html"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Trang chủ</span></a></li>
        <li class="treeview"><a class="app-menu__item active" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">Quản lý nhân viên</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item active" href="ql_nhanvien.html"><i class="icon fa fa-circle-o"></i>Thông tin nhân viên</a></li>
            <li><a class="treeview-item" href="add_nhanvien.html"><i class="icon fa fa-circle-o"></i> Thêm nhân viên</a></li>
          </ul>
        </li>
        <li><a class="app-menu__item " href="ql_ban.html"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Quản lý bàn</span></a></li>
        </li>
        <li><a class="app-menu__item " href="ql_phieugiamgia.html"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Quản phiếu giảm giá</span></a></li>
        <li><a class="app-menu__item " href="ql_chinhscahgia.html"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Quản lý chính sách giá</span></a></li>
        <li class="treeview"><a class="app-menu__item " href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Quản lý lịch làm việc</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
              <li><a class="treeview-item " href="ql_lich_lam_viec.html"><i class="icon fa fa-circle-o"></i>Lịch</a></li>
              <li><a class="treeview-item " href="ql_cal_lam.html"><i class="icon fa fa-circle-o"></i> Quản lý ca làm</a></li>
            </ul>
          </li>        
          <li><a class="app-menu__item " href="ql_phieugiamgia.html"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">Thực đơn và giá cả</span></a></li>
        <li><a class="app-menu__item" href="ql_hoadon.html"><i class="app-menu__icon fa fa-file-code-o"></i><span class="app-menu__label">Hóa đơn và thanh toán</span></a></li>
        <li><a class="app-menu__item" href="ql_kho.html"><i class="app-menu__icon fa fa fa-edit"></i><span class="app-menu__label">Quản lý kho</span></a></li>
        <li><a class="app-menu__item" href="baocao_thongke.html"><i class="app-menu__icon fa fa-pie-chart"></i><span class="app-menu__label">Báo cáo thông kê</span></a></li>
      </ul>
    </aside>
    <main class="app-content">
      <div class="app-title">
        <div class="div">
          <h1><i class="fa fa-laptop"></i>  Danh sách nhân viên</h1>
          <p> Thông tin nhân viên</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#"> Thông tin nhân viên</a></li>
        </ul>
      </div>
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Danh sách nhân viên</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="userTable" class="table table-bordered table-hover table-striped">
            <thead>
              <tr>
                <th>Tên nhân viên</th>
                <th>Ngày sinh</th>
                <th>Giới tính</th>
                <th>Địa chỉ</th>
                <th>Số điện thoại</th>
                <th>Tên tài khoản đăng nhập</th>
              </tr>
            </thead>
            <tbody>
              <tr data-name="yutar" data-birthday="11/11/2001" data-gender="nam" data-address="bg" data-phone="0123456" data-username="user1">
                <td>yutar</td>
                <td>11/11/2001</td>
                <td>nam</td>
                <td>bg</td>
                <td>0123456</td>
                <td>user1</td>
                <td>
                  <button class="btn btn-info edit-btn" data-row-id="1"><i class="fa fa-edit"></i></button>
                  <button class="btn btn-danger delete-btn"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
              <tr>
                <td>yutar21</td>
                <td>11/11/2001</td>
                <td>nữ</td>
                <td>bg</td>
                <td>0123456789</td>
                <td>user2</td>
                <td>
                  <button class="btn btn-info edit-btn" data-row-id="2"><i class="fa fa-edit"></i></button>
                  <button class="btn btn-danger delete-btn"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      
      <script>
        const editButtons = document.querySelectorAll('.edit-btn');
        const deleteButtons = document.querySelectorAll('.delete-btn');
      
        editButtons.forEach(btn => {
  btn.addEventListener('click', () => {
    // Lưu thông tin của hàng tương ứng
    const tr = btn.closest('tr');
    const tenNhanVien = tr.cells[0].textContent;
    const ngaySinh = tr.cells[1].textContent;
    const gioiTinh = tr.cells[2].textContent;
    const diaChi = tr.cells[3].textContent;
    const soDienThoai = tr.cells[4].textContent;
    const tenTaiKhoan = tr.cells[5].textContent;
    
    // Chuyển đến trang Biểu mẫu sửa đổi với thông tin được truyền qua query string
    window.location.href = `add_nhanvien.html?tenNhanVien=${tenNhanVien}&ngaySinh=${ngaySinh}&gioiTinh=${gioiTinh}&diaChi=${diaChi}&soDienThoai=${soDienThoai}&tenTaiKhoan=${tenTaiKhoan}`;
  });
});


        deleteButtons.forEach(btn => {
  btn.addEventListener('click', () => {
    const row = btn.parentNode.parentNode; // lấy ra hàng chứa button đang được click
    row.parentNode.removeChild(row); // xoá hàng đó khỏi bảng
  });
});

      </script>
      

    </main>
    <!-- Essential javascripts for application to work-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="js/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
  </body>
</html>